---
import Layout from "@layouts/Layout.astro";
import SiteImage from "@components/SiteImage.astro";
import News from "@components/News.astro";
import ContentsTile from "@components/ContentsTile.astro";
import portfolioImage from "@assets/portfolio-image.png";
import aboutImage from "@assets/about-image.png";
---

<Layout title="NOSETECH LABO">
  <div class="section-stack">
    <section class="site-image">
      <SiteImage />
    </section>
    <section class="news">
      <News />
    </section>
    <section class="contents-tile">
      <ContentsTile
        title="Portfolio"
        imageSrc={portfolioImage.src}
        imageAlt="A Portfolio Image"
        tileColor="#73AB69"
      />
      <ContentsTile
        title="About"
        imageSrc={aboutImage.src}
        imageAlt="A About Image"
        tileColor="#8971B5"
      />
    </section>
  </div>
</Layout>

<style>
  .section-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .site-image {
    margin-top: 16px;
  }

  .news {
    width: 900px;
  }

  .contents-tile {
    margin: 24px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
</style>
