---
import Layout from "@layouts/Layout.astro";
import portfolioImage from "@assets/portfolio-image.png";
import aboutImage from "@assets/about-image.png";
import ContentsTile from "@components/atoms/ContentsTile.astro";
import News from "@components/organisms/News.astro";
import SiteImage from "@components/organisms/SiteImage.astro";
---

<Layout title="NOSETECH LABO">
  <div class="section-stack">
    <section class="site-image">
      <SiteImage />
    </section>
    <section class="news">
      <News />
    </section>
    <section class="contents-tile">
      <ContentsTile
        title="Portfolio"
        imageSrc={portfolioImage.src}
        imageAlt="A Portfolio Image"
        tileColor="#73AB69"
      />
      <ContentsTile
        title="About"
        imageSrc={aboutImage.src}
        imageAlt="A About Image"
        tileColor="#8971B5"
      />
    </section>
  </div>
</Layout>

<style>
  .section-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .site-image {
    margin-top: 16px;
  }

  .news {
    width: 100%;
    max-width: 900px;
    padding: 0 16px;
  }

  .contents-tile {
    margin: 24px 0;
    width: 100%;
    max-width: 900px;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  @media (min-width: 700px) {
    .news {
      padding: 0 24px;
    }

    .contents-tile {
      padding: 0 24px;
      gap: 24px;
    }
  }

  @media (min-width: 1024px) {
    .news {
      padding: 0;
    }

    .contents-tile {
      padding: 0;
      gap: 32px;
    }
  }
</style>
