---
const { title, imageSrc, imageAlt, tileColor } = Astro.props;
---

<div class="tile">
  <h1>
    {title}
  </h1>
  <img
    class="content-image"
    src={imageSrc}
    alt={imageAlt}
    width="200px"
    height="150px"
  />
</div>

<style define:vars={{ tileColor }}>
  h1 {
    font-size: 32px;
    font-weight: normal;
    color: white;
    padding: 8px;
    margin: 0px;
  }

  .tile {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: var(--tileColor);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
  }

  .content-image {
    position: absolute;
    top: 60px;
    left: 100px;
  }
</style>
