---
const year = "2025";
---

<footer>
  <div>
    ©︎ {year} NOSETECH
  </div>
</footer>

<style>
  footer {
    height: 3vh;
    line-height: 3vh;
    text-align: center;
    background-color: #f1f1f1;
  }
</style>
