---
const year = "2025";
import GithubIcon from "@components/GithubIcon.astro";
---

<footer>
  <div>
    ©︎ {year} NOSETECH
  </div>
  <div>
    <GithubIcon />
  </div>
</footer>

<style>
  footer {
    height: 3vh;
    line-height: 3vh;
    text-align: center;
  }
</style>
