---
// TODO: テーマ変更コンポーネントを作成
// TODO: 引数によって左端に表示するロゴの有無を決められるようにする。
---

<header>
  <div>theme changer</div>
</header>

<style>
  header {
    width: 100%;
    height: 3vh;
    line-height: 3vh;
    text-align: right;
    background-color: lightgrey;
  }
</style>
