---
import ThemeToggle from "@components/ThemeToggle.tsx";
import Logo from "@components/Logo.astro";
import Menu from "@components/Menu.astro";
---

<header>
  <div class="header-content">
    <div class="logo">
      <Logo />
    </div>
    <div class="menu">
      <Menu />
    </div>
    <div class="theme-toggle-wrapper">
      <ThemeToggle client:load />
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    height: 60px;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-border);
    padding: 0 8px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    flex: 1;
  }

  .menu {
    flex: 2;
  }

  .theme-toggle-wrapper {
    display: flex;
    align-items: center;
  }
</style>
