<div class="title">
  <h1>NOSETECH LABO</h1>
  <p>(study with coffee)</p>
</div>

<style>
  .title {
    width: fit-content;
    text-align: right;
  }
  h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-top: -24px;
    padding: 0;
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 16px;
      margin-top: -16px;
    }
  }
</style>
