---
import LightIcon from "@assets/github-mark.svg";
import DarkIcon from "@assets/github-mark-white.svg";
---

<div>
  <img
    class="github-icon"
    data-theme-element
    src={LightIcon.src}
    data-light-src={LightIcon.src}
    data-dark-src={DarkIcon.src}
    alt="github icon"
  />
</div>

<style>
  .github-icon {
    width: var(--icon-width, 30px);
  }

  @media (max-width: 700px) {
    .github-icon {
      width: 20px;
    }
  }
</style>

<script>
  import "@scripts/theme-init.js";
</script>
