---
import deskImage from "@assets/desk.svg";
import deskDarkImage from "@assets/desk-dark.svg";
import rightcheatIcon from "@assets/portfolio/rightcheat/icon.svg";
import Title from "@components/atoms/Title.astro";
---

<div class="site-image">
  <div class="title">
    <Title />
  </div>
  <div class="desk">
    <img
      id="desk-image"
      data-theme-element
      src={deskImage.src}
      data-light-src={deskImage.src}
      data-dark-src={deskDarkImage.src}
      alt="A desk"
    />
    <a href="/portfolio/rightcheat"
      ><img
        class="product-on-desk"
        src={rightcheatIcon.src}
        alt="RightCheat"
      /></a
    >
  </div>
</div>

<style>
  .site-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .desk {
    margin-top: 40px;
    position: relative;
    width: 100%;
    max-width: 750px;
  }

  #desk-image {
    width: 100%;
    height: auto;
    max-width: 750px;
  }

  .product-on-desk {
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 70px;
  }

  .product-on-desk:hover {
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.3s ease;
  }

  @media (max-width: 700px) {
    .desk {
      width: 90%;
    }
    .product-on-desk {
      width: 50px;
    }
  }
</style>

<script>
  import "@scripts/theme-init.js";
</script>
